.venv
__pycache__
.env
.test_images
todo.txt
data/downloaded_images/
data/outputs/
data/spectrograms/
data/temp_song_archive/
data/test_images/
data/errors.txt
data/Music.csv
models/*
backlog/
old_spectrogram/